.osu-user-profile__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;

    height: fit-content;



    /* delete this padding 50% was using as testing to make */
    /* Sure that scrolling is working as intended. */
    padding-bottom: 50%;
}

.osu-user-profile__user-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    gap: 20px;

    padding-top: 2%;
    padding-bottom: 2%;

    background-color: rgb(29, 29, 29);
}

.osu-user-profile__user-info-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.osu-user-profile__user-info__username {
    font-size: 60px;
    font-weight: bolder
}

.osu-user-profile__section-header {
    font-size: 40px;
    font-weight: bolder;
}

.osu-user-profile__section-info {
    font-size: 30px;
    font-weight:normal
}

.osu-user-profile__user-info__joindate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.osu-user-profile__user-info__pfp {
    width: 80%;
    border-radius: 50%;
}

.osu-user-profile__user-info__ranks {
    display: flex;
    gap: 50px;
    text-align: center;
}

.osu-user-profile__user-info__ranks__global {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.osu-user-profile__user-info__ranks__country {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.osu-user-profile__user-info__time-played {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 10px;
}
.osu-user-profile__user-plays {
    display: flex;
    background-color: rgb(29, 29, 29);
    width: 65%;
}
