:root {
  height: 100%;
  overflow: hidden;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

a {
  text-decoration: inherit;
}
