.content-display__div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
}

.content-display__sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    /* height: 100%; */
    width: 75px;
    top: 40;
    left: 0;
}

.content-display__main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* min-height: 100vh; */
    margin-left: 75px;
    overflow: auto
}
