.sidebar__main {
  list-style: none;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 40px;
  left: 0;

  gap: 10px;
  color: gray;
  height: 100%;
  width: 75px;
  background-color: #0d0d28;
  overflow: hidden;
  font-size: 1.5rem;

  transition: width 0.3s ease;
}

.sidebar__top {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  padding: 15px;
  margin: 0;

  transition: opacity 0.3s ease;
}

.sidebar__top-name {
  display: none;

  padding: 0px;
}

.sidebar__top-logo {
  display: flex;
  padding: 0;
}

.sidebar__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  width: 80%;
  height: 50px;
  position: relative;


  color: gray;
  text-decoration: none;
  transition: background-color 0.3s ease, padding 0.3s
}

.sidebar__link-name {
  display: none;
  position: absolute;
  left: 75px;
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.sidebar__link-icon {
  display: flex;
  padding: 0px;
  transition: transform 0.3s ease;
}

/* Effects */

.sidebar__main:hover .sidebar__link {
  justify-content: start;
  padding-left: 15px;
}

.sidebar__main:hover {
  width: 275px;
}

.sidebar__main:hover .sidebar__link-name{
  display: block;
  opacity: 1;
}

.sidebar__link:hover .sidebar__link-icon {
  /*  */
}

.sidebar__main:hover .sidebar__top-name {
  display: block;
  opacity: 1;
}

.sidebar__link:hover {
  background-color: #030314;
}

.sidebar__link.active {
  background-color: #3273EC;
  color: white;
}
